
/app/services/__pycache__
*.pyc
*.pyc
test.py
/app/routers/__pycache__
*.csv
*.pyc
app/services/__pycache__/calculService.cpython-37.pyc
app/services/__pycache__/callApiService.cpython-37.pyc
app/services/__pycache__/callCoinMarketApi.cpython-37.pyc
app/services/__pycache__/coinGeckoService.cpython-37.pyc
